/** Für Aufgabe 1 kannst du von hier... **/
.cards {
    display: flex;
}
.card{
    flex-grow: 1;
}

/** ...bis hier CSS-Regeln hinzufügen. **/

@media screen and (max-width: 768px) {
    /* Der Code innerhalb dieser Klammern wird nur auf Bildschimren
       angezeigt, die weniger als 768px breit sind. */

    /** Für Aufgabe 2 kannst du von hier... **/
    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .headline{
        order: -1;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    /** ...bis hier CSS-Regeln hinzufügen. **/

}

@media screen and (max-width: 480px) {
    /* Der Code innerhalb dieser Klammern wird nur auf Bildschimren
       angezeigt, die weniger als 480px breit sind. */

    /** Für Aufgabe 3 kannst du von hier... **/
    .card{
        margin: 0px;  
        width: max-content; 
        margin-bottom: 20px;
    }
    .cards{
        flex-wrap: wrap;   
        margin: 0px;   
    }
    .headline{
        order: -1;
    }
    /** ...bis hier CSS-Regeln hinzufügen. **/

}