.body {
    background-image: url('./WIN_20200819_14_49_07_Pro.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}